# Terraform
**/.terraform/*
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
**/*.tfvars
**/crash.log
**/crash.*.log
**/.terraformrc
**/terraform.rc
# Keep environment-specific tfvars
!terraform/terraform.tfvars.dev
!terraform/terraform.tfvars.prod

# Environment
.env
.env.local
.env.*.local
!.env.example

# Node
node_modules/
dist/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*